.cartMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cartContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

.quantitySection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quantitySection > button {
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

.cartButton {
  width: 150px;
  height: 30px;
  font-weight: 700;
  cursor: pointer;
}
